<div class="center">
    <mat-card class="login-card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content class="login-content">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Username" formControlName="username" required autofocus />
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')"
        >Field is required!</mat-error
      >
      <br>
          </mat-form-field><br>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password" required />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
        >Field is required!</mat-error
      >
          </mat-form-field>
          <br>
          <div class="link-container">
            <span class="space"></span>
            <a [routerLink]="['/registration']" class="link">No Account?&nbsp;<strong>Register</strong></a>
          </div>
          @if(mess.length > 0){
            <mat-error>Wrong credentials!</mat-error>
          }
          <div class="button">
            <button mat-raised-button matButton type="submit" color="primary">Log In</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>