<div class="center">
    <mat-card class="login-card">
      <mat-card-title>Please confirm username and password!</mat-card-title>
      <mat-card-content class="login-content">
        <form class="login-form" [formGroup]="accountActivateForm" (ngSubmit)="login()" autocomplete="off">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Username" formControlName="username" required autofocus />
          </mat-form-field><br>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password" required autocomplete="off" />
          </mat-form-field>
          <br>
          <div class="button">
            <button matButton type="submit" color="primary">Log In</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>